

.theremin {
  position: absolute;
  left: calc(0 * (100% / var(--grid-width)));
  top: calc(0 * (100% / var(--grid-height)));
  width: calc(12 * (100% / var(--grid-width)));
  height: calc(11 * (100% / var(--grid-height)));
}

.placard {
  position: absolute;
  left: calc(12 * (100% / var(--grid-width)));
  top: calc(0 * (100% / var(--grid-height)));
  width: calc(5 * (100% / var(--grid-width)));
  height: calc(1.5 * (100% / var(--grid-height)));
}

.instructions {
  position: absolute;
  left: calc(12 * (100% / var(--grid-width)));
  top: calc(1.5 * (100% / var(--grid-height)));
  width: calc(5 * (100% / var(--grid-width)));
  height: calc(13.5 * (100% / var(--grid-height)));
}

.settings {
  position: absolute;
  left: calc(12 * (100% / var(--grid-width)));
  top: calc(1.5 * (100% / var(--grid-height)));
  width: calc(5 * (100% / var(--grid-width)));
  height: calc(.99 * (100% / var(--grid-height)));
}

.meters {
  position: absolute;
  left: calc(12 * (100% / var(--grid-width)));
  top: calc(2.5 * (100% / var(--grid-height)));
  width: calc(5 * (100% / var(--grid-width)));
  height: calc(6 * (100% / var(--grid-height)));
}

.delay {
  position: absolute;
  left: calc(12 * (100% / var(--grid-width)));
  top: calc(8.5 * (100% / var(--grid-height)));
  width: calc(5 * (100% / var(--grid-width)));
  height: calc(2.5 * (100% / var(--grid-height)));
}

.oscillators {
  position: absolute;
  left: calc(0 * (100% / var(--grid-width)));
  top: calc(11 * (100% / var(--grid-height)));
  width: calc(4 * (100% / var(--grid-width)));
  height: calc(4 * (100% / var(--grid-height)));
}

.fmsynth {
  position: absolute;
  left: calc(4 * (100% / var(--grid-width)));
  top: calc(11 * (100% / var(--grid-height)));
  width: calc(5.5 * (100% / var(--grid-width)));
  height: calc(4 * (100% / var(--grid-height)));
}

.eq {
  position: absolute;
  left: calc(9.5 * (100% / var(--grid-width)));
  top: calc(11 * (100% / var(--grid-height)));
  width: calc(5.5 * (100% / var(--grid-width)));
  height: calc(4 * (100% / var(--grid-height)));
}

.master {
  position: absolute;
  left: calc(15 * (100% / var(--grid-width)));
  top: calc(11 * (100% / var(--grid-height)));
  width: calc(2 * (100% / var(--grid-width)));
  height: calc(4 * (100% / var(--grid-height)));
}

.outer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  width: calc(100% - 2vmin);
  height: calc(100% - 2vmin);
  display: flex;
  border-radius: 1vmin;
  border: 1px solid rgba(255,255,255,.5);
}

.label {
  width: 100%;
  padding: .25vmin 1vmin;
  margin: 0 0 0 2vmin;
  text-align: left;
}
