#PlacardMobile {
  width: 100%;
  min-width: 100vmin;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

#PlacardMobile>.logo-box {
  width: 45vmin;
  height: 15vmin;
  min-width: 45vmin;
  min-height: 12.5vmin;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

#PlacardMobile>.help-box {
  width: 15vmin;
  height: 15vmin;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

#PlacardMobile .logo {
  width: 90%;
  height: auto;
}

#PlacardMobile .helpbutton {
  width: 60%;
  height: auto;
}
