#App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

#App>#bgi {
  background-image: url('./_img/steel.jpg');
}

#App>#shadow-mask {
  transition: opacity 500ms;
}

#App>#splash {
  height: 100vh;
  transition: opacity 500ms;
}

#App>#splash>.message-box {
  width: 80%;
}
