@import url('https://fonts.googleapis.com/css?family=Asap|Audiowide|Chakra+Petch|Changa|Hammersmith+One|Josefin+Sans|Montserrat+Alternates|Orbitron|Oxygen|Poiret+One|Questrial|Righteous|Rubik|Ruda');

* {
  margin: 0;
  padding: 0;
  /*font-size: 12vmin;*/
  text-align: center;
  /*font-family: helvetica, sans-serif;*/
  color: #FFFFFF;
/*font-family: 'Rubik', sans-serif;*/
/*font-family: 'Oxygen', sans-serif;*/
/*font-family: 'Asap', sans-serif;*/
/*font-family: 'Questrial', sans-serif;*/
/*font-family: 'Chakra Petch', sans-serif;*/
/*font-family: 'Josefin Sans', sans-serif;*/
font-family: 'Righteous', cursive;
/*font-family: 'Poiret One', cursive;*/
/*font-family: 'Hammersmith One', sans-serif;*/
/*font-family: 'Ruda', sans-serif;*/
/*font-family: 'Changa', sans-serif;*/
/*font-family: 'Audiowide', cursive;*/
/*font-family: 'Montserrat Alternates', sans-serif;*/
/*font-family: 'Orbitron', sans-serif;*/

  /*border: 1px solid black;*/
}

body {
  /*background-color: #28327F;*/
  /*background-color: #1B2023;*/
  background: url('./components/_img/yolaIX.jpg') no-repeat center center fixed;
  background-size: cover;
}















/*
canvas {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 100%;
}

h2 {
  font-size: 70%;
}

h3 {
  font-size: 50%;
}

h4 {
  font-size: 30%;
}

h5 {
  font-size: 15%;
}

h6 {
  font-size: 10%;
}

p {
  font-size: 5%;
}

.courier {
  font-family: 'Courier New', Courier, monospace;
}

.italic {
  font-style: italic;
}
*/
