.Theremin {
  --grid-width: 15;
  --grid-height: 11;
  --video-width: 10;
  --video-height: calc(var(--video-width) * .75);
  position: relative;
  font-family: Copperplate;

  /*background-color: brown;*/
  /*border: 1px solid red;*/
  overflow-y: hidden;
}

.Theremin .video-box {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% * (var(--video-width) / var(--grid-width)));
  height: calc(100% * (var(--video-height) / var(--grid-height)));

  /*background-color: rgba(0,0,0,.5);*/
  /*border: 1px solid red;*/
}

.Theremin .color-box {
  position: absolute;
  left: 0;
  top: calc(100% * (var(--video-height) / var(--grid-height)));
  width: calc(100% * ((var(--video-width) / 2) / var(--grid-width)));
  height: calc(100% * (var(--grid-height) - var(--video-height)) / var(--grid-height));

  /*background-color: rgba(0,0,0,.5);*/
  border: 1px solid green;
}


.Theremin .control-box {
  position: absolute;
  left: calc(100% * ((var(--video-width) / 2) / var(--grid-width)));
  top: calc(100% * (var(--video-height) / var(--grid-height)));
  width: calc(100% * ((var(--video-width) / 2) / var(--grid-width)));
  height: calc(100% * (var(--grid-height) - var(--video-height)) / var(--grid-height));

  /*background-color: rgba(0,0,0,.5);*/
  border: 1px solid orange;
}











.Theremin .video-box .inner {
  position: relative;
  width: 90%;
  height: 90%;
  border-radius: 12%;
  overflow: hidden;
}

.Theremin .video-box .border {
/*  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: auto;*/
}

.Theremin .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 4;
  transform: rotateY(180deg);
}

.Theremin .canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 5;
}
































.color-box .element {
  /*margin: 2%;*/
  /*display: flex;*/
  /*flex-flow: row nowrap;*/
  /*align-items: center;*/
  /*justify-content: flex-start;*/

  /*border: 1px solid blue;*/
}


.color-box .swatch {
  width: 5vmin;
  height: 5vmin;
  margin: .5vmin;
  border: 1px solid black;
}

.color-box .pulse {
  animation: pulsar 1s linear infinite;
}

@keyframes pulsar {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}











.control-box>.component {
  width: 100%;
  height: 80%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;

  /*border: 1px solid blue;*/
}

.control-box>.component>.knob {
  width: 50%;
  border-radius: 50%;
                  box-shadow: .5vmin .5vmin 1vmin #000000;
}


