.osc>.button-box {
  position: absolute;
  left: 2%;
  bottom: 0%;
  width: 96%;
  height: 60%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.osc>.button-box>.glowbutton {
  /*flex: 1;*/
  /*margin: 0 1%;*/
  width: 22%;
  height: auto;
  filter: drop-shadow(.02rem .02rem .025rem #000000);
}

.osc>.button-box>.glowbutton:active {
  transform: scale(.96);
  filter: drop-shadow(.02rem .02rem .015rem #000000);
}
