.Screen {

}


.Screen--inner {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 75%;
  border-radius: 1.85vmin;
  overflow: hidden;
  box-shadow: .05vmin .1vmin .6vmin .3vmin rgba(0, 0, 0, .9);
  z-index: 10;
}

.Screen--inner>* {
  position: absolute;
}





.ScreenFrame {
  left: 0;
  top: 0;
  width: calc(100% + 1px);
  height: auto;
  pointer-events: none;
  z-index: 11;
}





.ScreenVideobox {
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  z-index: 9;
}

.ScreenVideobox>* {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.ScreenVideobox>.flip-h {
  transform: scaleX(-1);
}


.ScreenVideobox--video {
  z-index: 1;
  background-color: #131415;
  background-image: url('../../_img/smpte.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}


.ScreenVideobox--overlay {
  z-index: 2;
}


.ScreenVideobox--messagebox {
  z-index: 3;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.ScreenVideobox--messagebox.tutorial {
  background-color: #0000FF;
}

.ScreenVideobox--messagebox>h3 {
  font-family: 'VCR';
  color: #FFFFFF;
  animation: pulsar 1.5s ease-in-out infinite;
}


.ScreenVideobox--clickbox {
  z-index: 4;
}
