#AppMobile {
  width: 100vw;
  height: calc(100vh + 2000px);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}

#AppMobile>#bgi {
  background-image: url('./_img/titanium.jpg');
}

#AppMobile>#shadow-mask {
  transition: opacity 200ms;
}

#AppMobile>#splash {
  height: 90vh;
  transition: opacity 200ms;
}

#AppMobile>#splash>.message-box {
  width: 95%;
}

#AppMobile>.hidden {
  opacity: 0;
  z-index: 1;
}

#AppMobile>.active {
  opacity: 1;
  z-index: 102;
}
