.Placard {

}


.Placard--inner {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}


.Placard--logo {
  width: 80%;
  height: auto;
}





.Placard button {
  background-color: black;
}
