.Placard {

}


.Placard--inner {

}


.Placard--logo {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 90%;
  height: auto;
}





.PlacardHelp {
  position: absolute;
  right: 0;
  top: 0;
  width: 10%;
  height: auto;
  opacity: .6;
  cursor: pointer;
}

.PlacardHelp:hover {
  opacity: .7;
}

.PlacardHelp:active {
  opacity: .7;
}
