#Meters {
  width: 100%;
  min-width: 100vmin;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

#Meters>.meter {
  width: 49vmin;
  height: 29.4vmin;
  min-width: 49vmin;
  min-height: 29.4vmin;
  margin: .5vmin;
}
