#OscillatorsMobile {
  width: 45%;
  min-width: 45vmin;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

#OscillatorsMobile>.osc {
  width: 43vmin;
  height: 15vmin;
  min-width: 43vmin;
  min-height: 15vmin;
  margin: .5vmin;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

#OscillatorsMobile>.osc>.label-box {
  width: 98%;
  height: 20%;
}

#OscillatorsMobile>.osc>.button-box {
  width: 98%;
  height: 80%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

#OscillatorsMobile .glowbutton {
  width: 24%;
  height: auto;
}

#OscillatorsMobile .glowbutton:active {
  transform: scale(.96);
}
