#Screen {
  width: 100%;
  min-width: 100vmin;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

#Screen>.video-box {
  position: relative;
  width: 99vmin;
  height: 74.25vmin;
  min-width: 99vmin;
  min-height: 74.25vmin;
  margin: 1vmin;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.video-box>.element {
  position: absolute;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  transform: scaleX(-1);
}

.video-box>.screenframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 104;
}

#video-0 {
  z-index: 101;
}

#video-1 {
  z-index: 102;
}

#video-2 {
  z-index: 103;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  transform: none;
}

#video-3 {
  z-index: 150;
}

#video-2>.osd {
  animation: pulsar 1s linear infinite;
}
