.Placard {
  /*background-color: pink;*/
}


.Placard--inner {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}


.Placard--logo {
/*  position: absolute;
  left: 0;
  top: 0;
*/
  width: 80%;
  height: auto;

}


.Placard button {
  background-color: black;
}
