.delay {
  flex-flow: column nowrap;
  align-items: space-around;
}

.delay>.inner{
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

.delay .knob-box {
  width: 95%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.delay .element {
  width: 35%;
  height: 90%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}

.delay .bigknob {
  height: 60%;
  filter: drop-shadow(.02rem .02rem .025rem #000000);
}


.delay .sevensegment {
  height: 50%;
}
