.effects {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.effects>.outer {
  width: 50%;
}

.effect .inner {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

.effect .knob-box {
  width: 95%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.effect .element {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}

.effect .fm .element {
  width: 35%;
  height: 90%;
}

.effect .eq .element {
  width: 25%;
  height: 80%;
}

.effect .big-knob {
  width: 90%;
  filter: drop-shadow(.02rem .02rem .025rem #000000);
}
