.eq2 {
  flex-flow: column nowrap;
  align-items: space-around;
}

.eq2>.inner{
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

.eq2 .knob-box {
  width: 95%;
  height: 40%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;

  border: 1px solid red;
}

.eq2 .freq {
  height: 30%;
}

.eq2 .freq .bigknob {
  /*width: 25%;*/
  height: 72%;
}

.eq2 .display {
  width: 50%;
  height: 80%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
}

.eq2 .element {
  width: 30%;
  height: 90%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;

  border: 1px solid green;
}

.eq2 .bigknob {
  height: 60%;
  /*width: 0%;*/
  filter: drop-shadow(.02rem .02rem .025rem #000000);
}

.eq2 .sevensegment {
  width: 100%;
}
