.eq2 {
  flex-flow: column nowrap;
  align-items: space-around;
}

.eq2>.inner{
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

.eq2 .knob-box {
  width: 95%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.eq2 .element {
  width: 25%;
  height: 90%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}

.eq2 .bigknob {
  height: 40%;
  filter: drop-shadow(.02rem .02rem .025rem #000000);
}

.eq2 .sevensegment {
  height: 20%;
}
