.init {
  position: fixed;
  width: 100vw;
  height: calc(100vh + 1000px);
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.7);
}

.init>.content {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}

.init .message {
  width: 90%;
}

.init .logo-box {
  width: 60%;
}

.init .logo {
  width: 100%;
  height: auto;
}
