.instructions {
  position: absolute;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  z-index: 20;
  top: 100%;
}

.instructions>.instructions-box {
  position: absolute;
  top: 0%;
  width: 90%;
  overflow: hidden;
  border-radius: 1.5vmin;
  transition: background-color 500ms ease-out, border 100ms ease-out, max-height 500ms ease-out;
}

.instructions>.show {
  background-color: rgba(0, 0, 0, .9);
  border: 1px solid rgba(255, 255, 255, .5);
  max-height: 80vh;
}

.instructions>.hide {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0);
  max-height: 0;
}

.instructions .list {
  padding: 4% 2% 0 12%;
}

.instructions .step {
  margin: 0 4% 4% 0;
  text-align: left;
  font-size: 4vmin;
  font-family: 'Montserrat Alternates', sans-serif;
}
