.Main {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  /*justify-content: flex-start;*/

  /*background-color: #fff;*/
  /*border :1px solid green;*/
}



.outer {
  width: 100%;
  height: 100%;
  display: flex;
}

.inner {
  border-radius: 1.5vmin;
  border: 1px solid rgba(255,255,255,.5);
}

.label {
  width: 95%;
  margin: 1% 0 0 1%;
  text-align: left;
}


.r {
  width: 100%;
}

.c {
  height: 100%;
}

.r1 {
  height: 8%;
  /*height: 12vmin;*/
  /*background-color: rgba(255,0,0,.3);*/
}

.r2 {
  /*height: 45%;*/
  height: 75vmin;
  width: 100vmin;
  /*background-color: rgba(0,255,0,.3);*/
}

.r3 {
  /*height: 20%;*/
  height: 35vmin;
  /*background-color: rgba(0,0,255,.3);*/
}

.r4 {
  height: 20%;
  /*height: 32vmin;*/
  /*background-color: rgba(255,255,0,.3);*/
}


