.Main {
  --grid-width: 17;
  --grid-height: 15;
  --size-unit: calc(95vw / var(--grid-width));
  --size-unit-max: calc(90vh / var(--grid-height));
  --size-unit-min: 30px;
  position: relative;
  width: calc(var(--grid-width) * var(--size-unit));
  height: calc(var(--grid-height) * var(--size-unit));
  max-width: calc(var(--grid-width) * var(--size-unit-max));
  max-height: calc(var(--grid-height) * var(--size-unit-max));
  min-width: calc(var(--grid-width) * var(--size-unit-min));
  min-height: calc(var(--grid-height) * var(--size-unit-min));
  background: url('../_img/titanium-texture-gradient.jpg') no-repeat center center fixed;
  background-size: cover;
  border-radius: 1vmin;
  box-shadow: 0 0 .5vmin .1vmin #000000;
}

.controller {
  position: absolute;
  left: calc(0 * (100% / var(--grid-width)));
  top: calc(0 * (100% / var(--grid-height)));
  width: calc(12 * (100% / var(--grid-width)));
  height: calc(11 * (100% / var(--grid-height)));
  display: flex;
  flex-flow: column nowrap;

  /*opacity: .5;*/
  /*background-color: brown;*/
}

.placard {
  position: absolute;
  left: calc(12 * (100% / var(--grid-width)));
  top: calc(0 * (100% / var(--grid-height)));
  width: calc(5 * (100% / var(--grid-width)));
  height: calc(1 * (100% / var(--grid-height)));

  /*opacity: .5;*/
  /*background-color: orange;*/
}

.settings {
  position: absolute;
  left: calc(12 * (100% / var(--grid-width)));
  top: calc(1 * (100% / var(--grid-height)));
  width: calc(5 * (100% / var(--grid-width)));
  height: calc(1 * (100% / var(--grid-height)));

  opacity: .5;
  /*background-color: orange;*/
}

.meters {
  position: absolute;
  left: calc(12 * (100% / var(--grid-width)));
  top: calc(2 * (100% / var(--grid-height)));
  width: calc(5 * (100% / var(--grid-width)));
  height: calc(9 * (100% / var(--grid-height)));
  display: flex;
  flex-flow: column nowrap;
}

.oscillators {
  position: absolute;
  left: calc(0 * (100% / var(--grid-width)));
  top: calc(11 * (100% / var(--grid-height)));
  width: calc(4 * (100% / var(--grid-width)));
  height: calc(4 * (100% / var(--grid-height)));
}

.effects {
  position: absolute;
  left: calc(4 * (100% / var(--grid-width)));
  top: calc(11 * (100% / var(--grid-height)));
  width: calc(11 * (100% / var(--grid-width)));
  height: calc(4 * (100% / var(--grid-height)));
  display: flex;
  flex-flow: row nowrap;
}

.master {
  position: absolute;
  left: calc(15 * (100% / var(--grid-width)));
  top: calc(11 * (100% / var(--grid-height)));
  width: calc(2 * (100% / var(--grid-width)));
  height: calc(4 * (100% / var(--grid-height)));
  display: flex;
  flex-flow: column nowrap;
}






.outer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.inner {
  width: calc(100% - 2vmin);
  height: calc(100% - 2vmin);
  border-radius: 1vmin;
  border: 1px solid rgba(255,255,255,.5);
}

.label {
  padding: .25vmin 1vmin;
  width: 90%;
  text-align: left;

  /*border-radius: 1vmin;*/
  /*background-color: rgba(0,0,0,.8);*/
  /*background-color: green;*/
}








/*MOVE AT A LATER DATE*/

.placard .inner {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  border: none;
}

.placard .name {
}


.placard .by h6 {
  text-align: left;
  margin: 0 -2vmin;
  /*background-color: green;*/
}

.placard .kozak {
  font-family: futura, sans-serif;
  font-weight: 200;
}


.settings button {
  width: 20%;
  /*height: 70%;*/

  font-family: helvetica;
  font-size: 20%;
  font-weight: 800;
  color: black;

  border-radius: 1vmin;
  border: 1px solid black;
  background-color: #fff;
}




.settings .inner {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

