.meters {
  flex-flow: column nowrap;
  justify-content: space-around;
}

.meters>.meter {
  width: 95%;
  height: auto;
  border-radius: .57vmin;
  box-shadow: 0 0 .5vmin .1vmin #000000;
  /*filter: drop-shadow(.02rem .03rem .03rem #000000);*/
}
