.meters {
  /*height: 100%;*/
  /*width: 100%;*/
  /*display: flex;*/
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.meters>.meter {
  width: 49%;
  height: auto;
  /*max-width: 49%;*/
  max-height: 95%;
  /*border-radius: .57vmin;*/
  /*box-shadow: 0 0 .5vmin .1vmin #000000;*/
}
