.oscillators {
  flex-flow: row nowrap;
  align-items: space-around;
  justify-content: space-around;
}

.oscillators>.inner {
  width: calc(50% - 2vmin);
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

.oscillators .button-box {
  width: 100%;
  height: 90%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}

.oscillators .glowbutton {
  height: 23%;
  width: auto;
  filter: drop-shadow(.02rem .02rem .025rem #000000);
}

.oscillators .glowbutton:active {
  transform: scale(.96);
  filter: drop-shadow(.02rem .02rem .015rem #000000);
}
