.oscillators>.outer {
  height: 50%;
}

.oscillator .inner {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

.oscillator .button-box {
  width: 95%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.oscillator .glowbutton {
  width: 20%;
  filter: drop-shadow(.02rem .02rem .025rem #000000);
}

.oscillator .glowbutton:active {
  transform: scale(.96);
  filter: drop-shadow(.02rem .02rem .015rem #000000);
}
