.placard>.outer {

  /*border: 1px solid green;*/
}

.placard .inner {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
  border: none;
}

.placard .logo {
  /*width: 55%;*/
  height: 100%;

  /*border: 1px solid white;*/
}

.placard .help {
  width: 10%;
  height: auto;

  /*border: 1px solid green;*/
}
