.placard>.outer {

}

.placard .inner {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
  border: none;
}

.placard .logo {
  height: 100%;
}

.placard .help-button {
  width: 10%;
  height: auto;
}
