.theremin {
  --theremin-grid-width: 12;
  --theremin-grid-height: 11;
  --video-height: calc(var(--theremin-grid-width) * .75);
  flex-flow: column nowrap;
}

.theremin>.video-box {
  width: 100%;
  height: calc(100% * (var(--video-height) / var(--theremin-grid-height)));
  flex-flow: column nowrap;
}

.theremin .video-layers {
  position: relative;
  width: 97.5%;
  height: 97.5%;
}

.theremin .screenframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  border-radius: 1.75vmin;
  box-shadow: 0 0 .5vmin .1vmin #000000;
}

.theremin .video-element {
  position: absolute;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  transform: scaleX(-1);
}

.video-x {
  display: none;
}

.theremin .video-0 {
  z-index: 4;
  background-color: #000000;
}

.theremin .video-1 {
  z-index: 5;
}

.theremin .video-2 {
  z-index: 6;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  transform: none;
}

.theremin .osd {
  animation: pulsar 1s linear infinite;
}

.theremin .video-3 {
  z-index: 10;
}

.theremin>.settings-box {
  width: 100%;
  height: calc(100% * ((var(--theremin-grid-height) - var(--video-height)) / var(--theremin-grid-height)));
  flex-flow: row nowrap;
}

.theremin>.settings-box {
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.theremin>.settings-box>.inner {
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.theremin .color-box {
  width: calc(60% - 2vmin);
}

.theremin .control-box {
  width: calc(40% - 2vmin);
}

.theremin .color-box .element {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  width: 45%;
  height: 90%;
}

.theremin .label {
  width: auto;
  text-align: right;
}

.theremin .colorswatch {
  height: 55%;
  filter: drop-shadow(.02rem .02rem .025rem #000000);
}

@keyframes pulsar {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .1;
  }
}

.theremin .control-box .element {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  width: 35%;
  height: 90%;
}

.theremin .bigknob {
  height: 55%;
  filter: drop-shadow(.02rem .02rem .025rem #000000);
}
