.Theremin {
  --theremin-grid-width: 12;
  --theremin-grid-height: 11;
  --video-width: 12;
  --video-height: calc(var(--video-width) * .75);
  width: calc(100% - 2vmin);
  height: calc(100% - 2vmin);
  position: relative;
  border: none;
}

.Theremin .inner {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

.Theremin .video-box {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% * (var(--video-width) / var(--theremin-grid-width)));
  height: calc(100% * (var(--video-height) / var(--theremin-grid-height)));
}

.Theremin .color-box {
  position: absolute;
  left: -1px;
  top: calc(100% * ((.3 + var(--video-height)) / var(--theremin-grid-height)));
  width: calc(100% * (7 / var(--theremin-grid-width)));
  height: calc(100% * ((var(--theremin-grid-height) - var(--video-height) - .3) / var(--theremin-grid-height)));
}

.Theremin .control-box {
  position: absolute;
  left: calc(100% * (7.3 / var(--theremin-grid-width)) - 1px);
  top: calc(100% * ((.3 + var(--video-height)) / var(--theremin-grid-height)));
  width: calc(100% * (4.7 / var(--theremin-grid-width)) - 1px);
  height: calc(100% * ((var(--theremin-grid-height) - var(--video-height) - .3) / var(--theremin-grid-height)));
}

.Theremin .video-box .inner {
  position: relative;
  width: 90%;
  height: 90%;
  border: none;
}

.Theremin .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  transform: rotateY(180deg);
}

.Theremin .tracker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.Theremin .canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
}

.Theremin .border {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 6;
  border-radius: 1.8vmin;
  box-shadow: 0 0 1vmin .2vmin #000000;
}

.Theremin .settings-box {
  width: 95%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.Theremin .color-box .element {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 90%;
}

.Theremin .control-box .element {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  width: 35%;
  height: 80%;
}

.Theremin .label {
  width: auto;
  text-align: right;
}

.Theremin .swatch {
  width: 5vmin;
  height: 5vmin;
  border-radius: 2.5vmin;
  box-shadow: .25vmin .25vmin 1vmin #000000;
}

.Theremin .knob {
  width: 5vmin;
  height: 5vmin;
  border-radius: 2.5vmin;
  box-shadow: .5vmin .5vmin 1vmin #000000;
}

@keyframes pulsar {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .1;
  }
}
