#NoApp {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-image: url('/_img/titanium.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}


.NoApp--message {
  width: 75vmin;
  height: 75%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}

.NoApp--message>h2 {
  font-size: 7vmin;
}

.NoApp--message>h4 {
  font-size: 3.5vmin;
}


.NoApp--logo {
  width: 75%;
  height: auto;
}
