.Settings {

}


.Settings--inner {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}





.SettingsElement {
  width: 45%;
  height: 95%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}


.SettingsElement--knob {
  width: auto;
  height: 65%;
}
